body {
	background-image: url(/BookLibrary/picture/back.gif);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
	color: #660000;
	font-family: 'Î¢ÈíÑÅºÚ';
	font-size: 16px;
	text-align: center;
	clear: both;
	text-align: center;
	margin-top: 250px;
}

td.form {
	height: 30px;
	background: #FFFFCC;
}

th {
	height: 35px;
	background: #6699FF;
	color: #0033CC;
}

a.form1 {
	position: absolute;
	left: 650px;
	top: 550px;
}

a.form2 {
	position: absolute;
	left: 770px;
	top: 550px;
}