body {
background-image: url(back.gif);
padding-left: 50px;
padding-right: 50px;
padding-top: 10px;
padding-bottom: 20px;
}
div#sidebar{
float:left;
background-color:#E0FFFF;
border: 1px solid #98bf21;
width: 17%;
margin-right: 2%;
}
div#sidebar div.widget{
width: 90%;
border: 2px solid #EEEE00;
margin: 5px;
padding: 5px;
margin-bottom: 20px;
}
div#sidebar div.widget div.title{
text-align: center;
color: #6B8E23;
margin-bottom: 10px;
border-bottom: dashed 1px #EEE685;
font-family: '微软雅黑';
}
div#sidebar div.widget input.text{
width: 90%;
margin-left: 5%;
}
div#sidebar div.widget input.submit{
width: 80%;
margin-left: 10%;
}
div#sidebar div.widget div.reminder{
font-family: '微软雅黑';
font-size: 13px;
color: red;
padding: 2px;
margin-left: 5%;
}
div#sidebar div.widget div.username{
font-family: '微软雅黑';
font-size: 1em;
color: red;
text-align: center;
margin-bottom: 5px;
}
div#sidebar #widgetuserurl a{
text-decoration: none;

}
div#sidebar #widgetuserurl a:link,a:visited{
display:block;
color:#FFFFFF;
background-color:#98bf21;
width:80%;
text-align:center;
padding:4px;
text-decoration:none;
margin-left: 10%;
margin-top: 20px;
margin-bottom: 20px;
}
div#sidebar #widgetuserurl a:hover ,a:active {
background-color:#7A991A;
}
div#content {
float: none;

}
hr {
height: 2px;
background: #EEEE00;
}
#logo{
margin-bottom: 20px; 
text-align: center;
font-family: '微软雅黑';
font-size: 1.5em;
color: #6495ED;
line-height: 2em;
letter-spacing: 0.1em;
}
#logo a{
background: none;
}
img {
border-style: none;
}
#recommendation {
text-align: center;
font-family: '楷体';
font-size: 20px;
color: #EE4000;
line-height: 2em;
}
#userurls {
text-align: center;
font-family: '微软雅黑';
font-size: 20px;
font-weight: 600;
border: 1px dotted #EE7600;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 25%;
margin-right: 25%;
padding: 6px;
letter-spacing: 0.1em;
line-height: 2em;
}
#userurls a:link,#userurls a:visited
{
display:block;
color:#FFFFFF;
background-color:#98bf21;
width:30%;
text-align:center;
padding:4px;
text-decoration:none;
margin-left: 33%;
margin-top: 20px;
margin-bottom: 20px;
}
#userurls a:hover,#userurls a:active
{
background-color:#7A991A;
}
#singlebutton {
text-align: center;
font-family: '微软雅黑';
font-size: 20px;
font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 20%;
margin-right: 20%;
letter-spacing: 0.1em;
line-height: 2em;
}
#singlebutton a:link,#singlebutton a:visited
{
display:block;
color:#FFFFFF;
background-color:#98bf21;
width:30%;
text-align:center;
padding:4px;
text-decoration:none;
margin-left: 35%;
margin-top: 20px;
margin-bottom: 20px;
}
#singlebutton a:hover,#singlebutton a:active
{
background-color:#7A991A;
}
#footer {
position: absolute;
left:650px;
top:450px
line-height: 1.5em;
color: sienna;
font-family: '微软雅黑';
font-size: 16px;
text-align: center;
clear:both;
text-align:center;
margin-top: 10px;
}
div.regform {
border: dotted #7EC0EE;
margin: 50px 10%;
padding: 15px;
line-height: 2em;
color: #4A4A4A;
font-weight: bold;
}
td.msg{
color: #FF0000;
font-weight: bold;
}
td.control{
text-align: center;
}
div.regform td.info{
color:#668B8B;
}
h1.title {
font-family: '黑体';
text-align: center;
}
h1.message {
font-family: '黑体';
text-align: center;
color: #EE9A00;
}
#loginform {
border: dotted #7EC0EE;
margin-left: 38%;
margin-right: 20%;
padding: 15px;
line-height: 2em;
color: #4A4A4A;
font-weight: bold;
}
#personform {
  font-family: "微软雅黑";
  margin-left: 33%;
  width:35%;
  border-collapse:collapse;
  text-align: center;
}
#personform input.text{
  width: 80%;
}
#personform input.radio{
  width: 20%;
}
#personform input.button{
  width: 30%;
}
#personform td, #personform th   {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
 }
#personform th{
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}
#personform tr td{
  background-color: #E0EEE0;
}
#personform tr.alt td{
  color:#000000;
  background-color:#EAF2D3;
}

#peoplelist {
  font-family: "微软雅黑";
  font-size: 0.8em;
  margin-left: 10%;
  width:80%;
  border-collapse:collapse;
  text-align: center;
}
#peoplelist a{
 color: #6CA6CD;
 background: none;
}
#peoplelist td, #peoplelist th   {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
 }
#peoplelist th{
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}
#peoplelist tr td{
  background-color: #E0EEE0;
}
#peoplelist tr.alt td{
  color:#000000;
  background-color:#EAF2D3;
}