body {
	background-image: url(/BookLibrary/picture/back1.gif);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFE;
	margin-right: auto;
	font-size: 46px;
}

#form {
	margin-left: 10px;
	line-height: 1.5em;
	color: #0000FF;
	font-size: 16px;
	clear: both;
	text-align: left;
}

#form1 {
	font-family: ¿¬Ìå; background : #FFFFFF;
	font-size: 25px;
	color: #000000;
	background: #FFFFFF;
}

#form2 {
	background: #791023;
	font-size: 25px;
	color: #F000FF;
}